* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Amarante", serif;
    background-color: var(--primary-color);
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #151E25;
    --secondary-color: #F5D57A;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

/* HEADER */

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.cta_btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

.cta_btn:hover {
    scale: 1.05;
}

.toggle_btn i {
    color: #fff;
}

/* DROPDOWN MENU */

.dropdown_menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 2rem;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .cta_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* MAIN BODY CONTENT */
.body_content {
    padding: 2rem;
}

/* HERO SECTION */
.hero_section,
.about_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem 0;
    gap: 30px;
}

.hero_column,
.about_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero_image,
.about_image {
    width: 450px;
}

.hero_subtitle {
    color: var(--secondary-color);
    font-size: 2rem;
}

.hero_title,
.about_title,
.products_heading,
.reviews_heading,
.contact_heading {
    font-size: 4rem;
    color: #fff;
}

.hero_description,
.about_description {
    color: #fff;
    font-size: 1.25rem;
}

.hero_btn,
.about_btn {
    margin-top: 2rem;
}

.hero_btn a,
.about_btn a,
.product_btn {
    border: solid 1px var(--secondary-color);
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
}

/* PRODUCTS SECTION */
.products_section,
.reviews_section {
    margin: 2rem 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products_heading {
    margin-bottom: 2rem;
}

.products_listing,
.reviews_listing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 2rem;
}

.products_card,
.reviews_card {
    border: solid 1px var(--secondary-color);
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.products_card img {
    width: 200px;
}

.product_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_title,
.review_title {
    font-size: 18px;
}

.product_price {
    font-size: 24px;
    margin: 1rem 0;
}

.product_btn:hover {
    scale: 1.05;
}

/* REVIEWS SECTION */

.checked {
    color: orange;
}

.review_rating {
    margin: 1rem 0;
}

/* CONTACT SECTION */

.contact_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.contact_card {
    border: solid 1px var(--secondary-color);
    border-radius: 5px;
    padding: 2rem;
    margin: 2rem 0;
}

.contact_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.contact_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact_title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 0.5rem 1.5rem;
    margin-bottom: 2rem;
    border: solid 1px var(--secondary-color);
}

input:focus,
textarea:focus {
    color: var(--secondary-color);
}

::placeholder {
    color: #fff;
}

textarea {
    resize: none;
    padding: 0.5rem 1.5rem;
    margin-bottom: 2rem;
    border: solid 1px var(--secondary-color);
}

.contact_column button {
    border: solid 1px var(--secondary-color);
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    color: #fff;
}

.contact_column button:hover {
    scale: 1.05;
}

.contact_description {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.social_links {
    display: flex;
    gap: 20px;
}

.social_links a {
    background: var(--secondary-color);
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
}

.social_links a:hover {
    scale: 1.05;
}

.social_links i {
    background: var(--secondary-color);
    color: var(--primary-color);
}

/* FOOTER SECTION */
footer {
    background-color: var(--primary-color);
    color: #fff;
}

footer a,
footer i {
    color: #fff;
}

.footer_content {
    padding: 2rem;
}

.footer_content,
.footer_col2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer_col1 {
    display: flex;
    align-items: center;
}

.footer_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_col h3 {
    margin-bottom: 1.5rem;
}


/* MEDIA QUERIES */

@media (max-width: 992px) {

    .navbar .links,
    .navbar .cta_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    .hero_image,
    .about_image {
        width: 350px;
    }

    .products_listing,
    .reviews_listing {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    .hero_section,
    .about_section {
        grid-template-columns: repeat(1, 1fr);
    }

    .hero_image,
    .about_image {
        width: 300px;
    }

    .products_listing,
    .reviews_listing, .contact_content {
        grid-template-columns: repeat(1, 1fr);
    }

    .reviews_section {
        align-items: start;
    }

    .footer_content,
    .footer_col2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer_col1 {
        justify-content: center;
    }

    .footer_col2,
    .footer_col {
        margin: 2rem 0;
    }
}